
/* notre conteneur principal */
.article{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
/* element du conteneur la première colonne */
.article__div{

    flex-grow: 1;
    flex-shrink:0 ;
    flex-basis:300px ;
 
}
/* element du conteneur la première colonne */
.article__figure{
        /*
    flex-grow: ;
    flex-shrink: ;
    flex-basis: ;
    */
    order: -1;
}
/*
odd : impair
*/
.article:nth-of-type(odd) .article__figure{}



.article__div h2{}
.article__div p{}

.article__img{}
.article__figcaption{}