.galerie{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.galerie__figure{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    transform : rotate(10deg);
}
.galerie__img{
    display: block;
    width: 100%;
    margin:0;
    padding:9;
}


.galerie__figcaption{}

.galerie__figure:nth-of-type(odd){
     transform : rotate(-10deg);
}
